.character-container {
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    margin: auto;
    svg {
        &:first-of-type {
            position: relative;
        }
        position: absolute;
        left: 0;
        top: -160px;
    }
}

.settings-container {
    margin: auto;

    min-width: 800px;
    height: 100%;
    // height: 250px;
    width: max-content;
    background-color: white;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}
.setting-tab {
    font-family: Nunito;
    color: #9b9b9b;
    background-color: unset;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
    font-weight: 500;
    max-width: auto;
    transition:
        color 0.3s,
        font-weight 0.3s;
    &::after {
        content: attr(data-text);
        visibility: hidden;
        font-weight: 700;
        height: 0;
        display: block;
        overflow: hidden;
    }
    &:not(.active):hover {
        color: rgb(55, 55, 55);
        font-weight: 700;
    }
    &.active {
        color: #3959f8;
        font-weight: 700;
    }
}

.colors-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .color-picker {
        height: 40px;
        width: 40px;
        border-radius: 10px;
        border: none;
        transition: 0.3s scale;

        &.active {
            outline: 2px solid #3959f8;
            outline-offset: 2px;
        }

        &:active {
            scale: 0.95;
        }
    }
}

.shapes-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .shape-picker {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        border: solid 2px;
    }
}
