.avatar-container {
    height: 100%;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    margin: auto;
    svg {
        &:first-of-type {
            position: relative;
        }
        position: absolute;
        left: 0;
        top: -160px;
    }
}
