.avatar-container {
    //height: 70%;
    max-width: 480px;
    //max-height: 500px;
    position: relative;
    margin: auto;
    svg {
        &:first-of-type {
            position: relative;
        }
        position: absolute;
        left: 0;
        top: -100px;
    }
}

@media (max-width: 700px) {
    .avatar-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar-container {
        width: 50vh;
        height: 60vh;
        overflow: hidden;
        max-width: unset;
        position: fixed;
        margin: auto;
        svg {
            &:first-of-type {
                position: relative;
            }
            position: absolute;
            left: 0;
            top: -10vw;
        }
    }
}

.avatar-export-wrapper {
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -500px;
    width: 500px;
    height: 500px;

    padding: 0px;
    box-sizing: border-box;

    background: pink;
    .avatar-container {
        svg {
            left: 0;
            top: -50px;
        }
    }
}
