.avatar-container {
    //height: 70%;
    max-width: 480px;
    //max-height: 500px;
    position: relative;
    margin: auto;
    svg {
        &:first-of-type {
            position: relative;
        }
        position: absolute;
        left: 0;
        top: -120px;
    }
}
