.avatar-container {
    max-width: 480px;
    position: relative;
    margin: auto;
    svg {
        &:first-of-type {
            position: relative;
        }
        position: absolute;
        left: 0;
        top: -100px;
    }
}

.avatar-export-wrapper {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 500px;
    height: 500px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url('../../assets/studio.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -60px;
    .with-love {
        position: absolute;
        text-align: left;
        left: 20px;
        top: 0px;
        color: rgb(46, 51, 148);
    }

    .avatar-container {
        max-width: 480px;
        svg {
            left: 0;
            top: -50px;
        }
    }
}

@media (max-width: 700px) {
    .avatar-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar-container {
        width: 50vh;
        height: 60vh;
        overflow: hidden;
        max-width: unset;
        position: fixed;
        margin: auto;
        svg {
            &:first-of-type {
                position: relative;
            }
            position: absolute;
            left: 0;
            top: -10vw;
        }
    }

    .avatar-export-wrapper {
        display: flex;

        .avatar-container {
            svg {
                top: -30px;
            }
        }
    }
}
