.project-container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    max-height: 820px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('./assets/studio.png');
    background-color: #e9f0ff;
    background-position-y: 150px;
    background-size: 130%;
    background-repeat: no-repeat;
}
.koums-studio-logo {
    width: 120px;
    height: 80px;
    object-fit: 'cover';
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
}
.control-container {
    height: 100%;
    z-index: 5;
    max-width: calc(1300px - 40px * 2);
    //width: 100%;
    align-items: center;
    border-radius: 40px 40px 0 0;
    background-color: white;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px 50px 40px;
    margin-top: -140px;
}
.scroll {
    width: calc(80vw - 20px);
    max-width: calc(1400px - 40px * 2);
    overflow: scroll;
    margin-bottom: 10px;
    padding: 4px 0 0 20px;
    margin: 0 -40px;
    margin-left: auto;
    margin-right: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}
.tabs-container {
    margin: 10px auto;
    display: flex;
    gap: 20px;
}
.setting-tab {
    font-family: Nunito;
    color: #9b9b9b;
    background-color: unset;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 0px;
    font-weight: 500;
    max-width: max-content;
    white-space: nowrap;
    transition:
        color 0.3s,
        font-weight 0.3s;
    &::after {
        content: attr(data-text);
        visibility: hidden;
        font-weight: 700;
        height: 0;
        display: block;
        overflow: hidden;
    }
    &:not(.active):hover {
        color: rgb(55, 55, 55);
        font-weight: 700;
    }
    &.active {
        color: #3959f8;
        font-weight: 700;
    }
}

.colors-container {
    margin-bottom: 5px;
    display: flex;
    width: fit-content;
    gap: 10px;

    .color-picker {
        height: 40px;
        width: 40px;
        border-radius: 10px;

        border: none;
        transition:
            0.3s scale,
            0.3s opacity;
        cursor: pointer;

        &.active {
            outline: 2px solid #3959f8;
            outline-offset: 2px;
        }

        &:active {
            scale: 0.95;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    #color-picker {
        width: 0px;
        height: 0px;
        padding: 0;
        border: none;
        position: absolute;
        left: 10px;
        //opacity: 0;
    }
    .free-color-picker {
        height: 40px;
        width: 40px;
        background-size: cover;
        position: relative;
        display: block;
        .icon {
            width: 20px;
            height: 20px;
            border-top-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: white;
            position: relative;
            top: 20px;
            left: 20px;
            background-image: url('./assets//magic-wand.png');
            background-size: 70%;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.shapes-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: flex;
    width: fit-content;
    padding: 4px 0;

    gap: 10px;
    .shape-picker {
        height: 90px;
        width: 90px;
        border-radius: 10px;
        border: none;
        transition:
            0.3s scale,
            0.3s opacity;
        cursor: pointer;
        &.active {
            outline: 2px solid #3959f8;
            outline-offset: 2px;
        }

        &:active {
            scale: 0.95;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}

.with-love {
    font-family: 'Nunito';
    text-align: center;
    color: rgb(172, 172, 172);
    font-size: 12px;
    position: relative;
    top: 20px;
}

@media (max-width: 700px) {
    .project-container {
        max-height: unset;
    }
    .control-container {
        height: calc(100vh - 60vh - 10vh + 40px);
        //height: fit-content;
        z-index: 5;
        //max-width: calc(1300px - 40px * 2);
        width: calc(100% - 20px * 2);
        align-items: center;
        border-radius: 40px 40px 0 0;
        background-color: white;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 20px 50px 20px;
        margin-top: auto;
    }
    .scroll {
        padding: 0;
        width: calc(100% + 40px);
        max-width: calc(1400px - 40px * 2);
        overflow: scroll;
        margin-bottom: 10px;
        margin: 5px auto auto -20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .tabs-container {
        padding: 4px 20px 0 20px;
        width: fit-content;
    }
    .shapes-container {
        padding: 4px 20px;
    }
    .colors-container {
        padding: 4px 20px;
    }
    .with-love {
        width: 100%;
    }
}
