.project-container {
    max-width: 1400px;
    width: 100%;
    margin: auto;
    max-height: 820px;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background-image: url('./assets/studio.png');
    background-color: #e9f0ff;
    background-position-y: 150px;
    background-size: 130%;
    background-repeat: no-repeat;
}
.koums-studio-logo {
    width: 120px;
    height: 80px;
    object-fit: 'cover';
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
}

.avatar-buttons-wrapper {
    position: relative;
}

.buttons-container {
    position: absolute;
    right: 50px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    p {
        margin: 0;
    }
}

@media (max-width: 700px) {
    .project-container {
        max-height: unset;
    }

    .buttons-container {
        right: 20px;
        top: 50vh;
        flex-direction: row;
        height: max-content;
    }
}
