@font-face {
    font-family: 'Nunito';
    src: url('./assets//fonts/nunito.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


#root {
flex-direction: column;
display: flex;
height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Nunito';
  background-color: #5162a0;
  max-height: 100vh;
  height: 100%;
  min-width: 100vw;
  overflow: hidden;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
